    
/* Grid examples */    
.poc-row .poc.poc-col:nth-last-child(1),
.poc-row .poc.poc-col:nth-last-child(1) ~ .poc-col
    width: 100%
    width: calc((100% - 16px*0) / 1)

.poc-row.no-space .poc-col:nth-last-child(1),
.poc-row.no-space .poc-col:nth-last-child(1) ~ .poc-col
    width: 100%

.poc-row .poc-col:nth-last-child(2),
.poc-row .poc-col:nth-last-child(2) ~ .poc-col
    width: 50%
    width: calc((100% - 16px*1) / 2)

.poc-row.no-space .poc-col:nth-last-child(2),
.poc-row.no-space .poc-col:nth-last-child(2) ~ .poc-col
    width: 50%

.poc-row .poc-col:nth-last-child(3),
.poc-row .poc-col:nth-last-child(3) ~ .poc-col
    width: 33.33333333%
    width: calc((100% - 16px*2) / 3)

.poc-row.no-space .poc-col:nth-last-child(3),
.poc-row.no-space .poc-col:nth-last-child(3) ~ .poc-col
    width: 33.33333333%

.poc-row .poc-col:nth-last-child(4),
.poc-row .poc-col:nth-last-child(4) ~ .poc-col
    width: 25%
    width: calc((100% - 16px*3) / 4)

.poc-row.no-space .poc-col:nth-last-child(4),
.poc-row.no-space .poc-col:nth-last-child(4) ~ .poc-col
    width: 25%

.poc-row .poc-col:nth-last-child(5),
.poc-row .poc-col:nth-last-child(5) ~ .poc-col
    width: 20%
    width: calc((100% - 16px*4) / 5)

.poc-row.no-space .poc-col:nth-last-child(5),
.poc-row.no-space .poc-col:nth-last-child(5) ~ .poc-col
    width: 20%

.poc-row .poc-col:nth-last-child(6),
.poc-row .poc-col:nth-last-child(6) ~ .poc-col
    width: 16.66666667%
    width: calc((100% - 16px*5) / 6)

.poc-row.no-space .poc-col:nth-last-child(6),
.poc-row.no-space .poc-col:nth-last-child(6) ~ .poc-col
    width: 16.66666667%

.poc-row .poc-col:nth-last-child(7),
.poc-row .poc-col:nth-last-child(7) ~ .poc-col
    width: 14.28571429%
    width: calc((100% - 16px*6) / 7)

.poc-row.no-space .poc-col:nth-last-child(7),
.poc-row.no-space .poc-col:nth-last-child(7) ~ .poc-col
    width: 14.28571429%

.poc-row .poc-col:nth-last-child(8),
.poc-row .poc-col:nth-last-child(8) ~ .poc-col
    width: 12.5%
    width: calc((100% - 16px*7) / 8)

.poc-row.no-space .poc-col:nth-last-child(8),
.poc-row.no-space .poc-col:nth-last-child(8) ~ .poc-col
    width: 12.5%

.poc-row .poc-col:nth-last-child(9),
.poc-row .poc-col:nth-last-child(9) ~ .poc-col
    width: 11.11111111%
    width: calc((100% - 16px*8) / 9)

.poc-row.no-space .poc-col:nth-last-child(9),
.poc-row.no-space .poc-col:nth-last-child(9) ~ .poc-col
    width: 11.11111111%

.poc-row .poc-col:nth-last-child(10),
.poc-row .poc-col:nth-last-child(10) ~ .poc-col
    width: 10%
    width: calc((100% - 16px*9) / 10)

.poc-row.no-space .poc-col:nth-last-child(10),
.poc-row.no-space .poc-col:nth-last-child(10) ~ .poc-col
    width: 10%

.poc-row .poc-col:nth-last-child(11),
.poc-row .poc-col:nth-last-child(11) ~ .poc-col
    width: 9.09090909%
    width: calc((100% - 16px*10) / 11)


.poc-row.no-space .poc-col:nth-last-child(11),
.poc-row.no-space .poc-col:nth-last-child(11) ~ .poc-col
    width: 9.09090909%

.poc-row .poc-col:nth-last-child(12),
.poc-row .poc-col:nth-last-child(12) ~ .poc-col
    width: 8.33333333%
    width: calc((100% - 16px*11) / 12)

.poc-row.no-space .poc-col:nth-last-child(12),
.poc-row.no-space .poc-col:nth-last-child(12) ~ .poc-col
    width: 8.33333333%

.poc-row .poc-col:nth-last-child(13),
.poc-row .poc-col:nth-last-child(13) ~ .poc-col
    width: 7.69230769%
    width: calc((100% - 16px*12) / 13)

.poc-row.no-space .poc-col:nth-last-child(13),
.poc-row.no-space .poc-col:nth-last-child(13) ~ .poc-col
    width: 7.69230769%

.poc-row .poc-col:nth-last-child(14),
.poc-row .poc-col:nth-last-child(14) ~ .poc-col
    width: 7.14285714%
    width: calc((100% - 16px*13) / 14)

.poc-row.no-space .poc-col:nth-last-child(14),
.poc-row.no-space .poc-col:nth-last-child(14) ~ .poc-col
    width: 7.14285714%

.poc-row .poc-col:nth-last-child(15),
.poc-row .poc-col:nth-last-child(15) ~ .poc-col
    width: 6.66666667%
    width: calc((100% - 16px*14) / 15)

.poc-row.no-space .poc-col:nth-last-child(15),
.poc-row.no-space .poc-col:nth-last-child(15) ~ .poc-col
    width: 6.66666667%

.poc-row .poc-col:nth-last-child(16),
.poc-row .poc-col:nth-last-child(16) ~ .poc-col
    width: 6.25%
    width: calc((100% - 16px*15) / 16)

.poc-row.no-space .poc-col:nth-last-child(16),
.poc-row.no-space .poc-col:nth-last-child(16) ~ .poc-col
    width: 6.25%

.poc-row .poc-col:nth-last-child(17),
.poc-row .poc-col:nth-last-child(17) ~ .poc-col
    width: 5.88235294%
    width: calc((100% - 16px*16) / 17)

.poc-row.no-space .poc-col:nth-last-child(17),
.poc-row.no-space .poc-col:nth-last-child(17) ~ .poc-col
    width: 5.88235294%

.poc-row .poc-col:nth-last-child(18),
.poc-row .poc-col:nth-last-child(18) ~ .poc-col
    width: 5.55555556%
    width: calc((100% - 16px*17) / 18)

.poc-row.no-space .poc-col:nth-last-child(18),
.poc-row.no-space .poc-col:nth-last-child(18) ~ .poc-col
    width: 5.55555556%

.poc-row .poc-col:nth-last-child(19),
.poc-row .poc-col:nth-last-child(19) ~ .poc-col
    width: 5.26315789%
    width: calc((100% - 16px*18) / 19)

.poc-row.no-space .poc-col:nth-last-child(19),
.poc-row.no-space .poc-col:nth-last-child(19) ~ .poc-col
    width: 5.26315789%

.poc-row .poc-col:nth-last-child(20),
.poc-row .poc-col:nth-last-child(20) ~ .poc-col
    width: 5%
    width: calc((100% - 16px*19) / 20)

.poc-row.no-space .poc-col:nth-last-child(20),
.poc-row.no-space .poc-col:nth-last-child(20) ~ .poc-col
    width: 5%

.poc-row .poc-col:nth-last-child(21),
.poc-row .poc-col:nth-last-child(21) ~ .poc-col
    width: 4.76190476%
    width: calc((100% - 16px*20) / 21)

.poc-row.no-space .poc-col:nth-last-child(21),
.poc-row.no-space .poc-col:nth-last-child(21) ~ .poc-col
    width: 4.76190476%
    

    
.poc-row
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-box-pack: justify
    -webkit-justify-content: space-between
    -ms-flex-pack: justify
    justify-content: space-between
    -webkit-flex-wrap: wrap
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    -webkit-box-align: start
    -webkit-align-items: flex-start
    -ms-flex-align: start
    align-items: flex-start


.poc-row > [class*="poc-col-"], .poc-row > .poc-col 
    -webkit-box-sizing: border-box
    box-sizing: border-box

.poc-row .poc-col 
    width: 100%
  
/* End Grid examples */
/* Grid Demo */
.poc-grid-demo
    div[class*=poc-col]
        border: solid 1px #ccc
        text-align: center
        padding: 2px 0
        margin: 0 0 15px 0  

.example-gray div
    border: solid 1px #ddd
    background-color: #ddd
/* End Grid Demo */  